body{
    margin: 0 auto;
}
.block1{
text-align: center;
}
.block2{
    width: 50px;
    height: 30px;
    border: 1px solid black;
    margin-right: 80px;
    display : flex;
    justify-content: center;
    align-items: center;    
}
#block3{
    width: 50px;
    text-align: right;
    height: 30px;
    border: 1px solid black;
    display : flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
    margin-left: 80px;
}
.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color : black;
}